@page
@{ 
    ViewData["Title"] = "NotFound";
}

    <div class="text-center">
        <h2 class="text-danger">The Resource you have been looking for cannot be found!</h2>
        <a asp-page="Index" class="btn btn-outline-secondary">Click Here to get back Home</a>
    </div>